body {
    background-color:black;
    font-family: arial;
    color: white;
}
h1{
    color:grey;
    font-family: verdana;
}

.maindiv {
    background-color: white;
    color: black;
    width: 300px;
    padding: 25px;
    border-radius: 25px;
    margin: 0 auto;
}
#principal:focus{background-color: yellow;} /*focus input fields*/

